// Adds a small amount of left/right margining to the marketing banner title.
// This spacing will ensure that at the desk breakpoint each line contains two words.
.marketing-banner-title
  margin-left: 20px
  margin-right: 20px
  @include breakpoint(palm)
    margin-left: 0
    margin-right: 0
