.secondary-dark-background
  %ul.breadcrumb
    - ['One', 'Two', 'Three', 'Four'].each do |i|
      %li
        %a{href:'#'} Item #{i} 

%pre.prettyprint
  :plain
    %ul.breadcrumb
  - ['One', 'Two', 'Three', 'Four'].each do |i|
    :plain
      %li
        %a{href:'#'} Item #{i}
