%p.sg-p Cards are the basic building blocks of the site.

%section.card.inset
  %h2 Card Title
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet cursus dolor, nec gravida dui. Aenean neque magna, bibendum in erat ut, interdum sagittis justo. Nulla condimentum laoreet fermentum. Aliquam blandit risus tellus, a elementum lacus porttitor eu.  

%code.prettyprint %section.card lorem ipsum...

%table.sg-table
  %thead
    %tr
      %th Modifiers 
      %th Descriptions
  %tbody
    %tr
      %td
        %section.card.inset .inset
      %td Apply padding to a card object.
