%p.sg-p RSportz currently uses Formatted Form to generate its form based on Bootstrap markup. Since it is unlikely formatted form will be retrofitted to work with the new CSS framework, though less than ideal, we may have to stick with Bootstrap markup for forms.
