%p.sg-p The main typeface is <a class="sg-a" target="_blank" href="http://www.google.com/fonts/specimen/PT+Sans">PT Sans</a> and is hosted by Google.

.sg-typefaces
  .sg-regular PT Sans Regular
  .sg-bold PT Sans Bold
