%table.sg-table
  %thead
    %tr
      %th Modifiers
      %th Descriptions
  %tbody
    %tr
      %td
        .alert.error .error
      %td Error alert style.
    %tr
      %td
        .alert.success .success
      %td Success alert style.
    %tr
      %td
        .alert.info .info
      %td Info alert style.
