%blockquote
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada tortor nunc, vitae fringilla augue elementum non. Suspendisse eget urna ac mi sollicitudin bibendum. Sed tempor dui eu augue euismod dapibus. Quisque est eros, fringilla sit amet lorem in, blandit sodales elit. Quisque sed iaculis mauris.
  %cite Jane Doe, Company CEO
