%p.sg-p Button styles can be applied to anchor, button, or input elements. Various modifiers can be applied to piece together the appearance of any button. The only mandatory class is <span class="sg-code">.button</span>.

%table.sg-table
  %thead
    %tr
      %th Modifiers
      %th Descriptions
  %tbody
    %tr
      %td 
        %a.button{href:''} .button
      %td <strong>required</strong> - Base button style using the primary colour.
    %tr
      %td 
        %a.secondary.button{href:''} .secondary
      %td Applies the secondary colour to the button.
    %tr
      %td 
        .card.secondary-background
          .card-body
            %a.inverted.button{href:''} .inverted
      %td Applies the inverted colour to the button for use on a dark background. 
    %tr
      %td 
        %a.solid.button{href:''} .solid
      %td Fills the button with colour as opposed to the default outlined look.
    %tr
      %td 
        %a.small.button{href:''} .small
      %td Decrease the size of the button.
    %tr
      %td 
        %a.large.button{href:''} .large
      %td Increases the size of the button.
    %tr
      %td 
        %a.huge.button{href:''} .huge
      %td Really increases the size of the button.
    %tr
      %td 
        %a.disabled.button{href:''} .disabled
      %td Applies the disabled state. 
