%p.sg-p Cards are the basic building blocks of the site.

.card.normal-bottom
  %header.card-header %header.card-header
  .card-body
    %h2 Card Title
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet cursus dolor, nec gravida dui. Aenean neque magna, bibendum in erat ut, interdum sagittis justo. Nulla condimentum laoreet fermentum. Aliquam blandit risus tellus, a elementum lacus porttitor eu.  
  %footer.card-footer %footer.card-footer

%table.sg-table
  %thead
    %tr
      %th Children 
      %th Descriptions
  %tbody
    %tr
      %td
        %span.sg-code %header.card-header
      %td Card header formatted with inset drop-shadow. 
    %tr
      %td
        %span.sg-code .card-body
      %td Card body content (required).
    %tr
      %td
        %span.sg-code %footer.card-footer
      %td Card footer content.

%table.sg-table
  %thead
    %tr
      %th Modifiers 
      %th Descriptions
  %tbody
    %tr
      %td
        %span.sg-code .large
      %td Increase padding of card elements (header, body, footer). Apply this modifier to the <span class="sg-code">.card</span> element itself. 
    %tr
      %td
        %span.sg-code .narrow
      %td Decrease card padding.
    %tr
      %td
        %span.sg-code .center-line
      %td Draws a faint vertical line down the center of the card.
    %tr
      %td
        %span.sg-code .constant
      %td Keep card visible at all breakpoints.
