%p.sg-p All colors are stored in an associated SASS array. This allows for greater flexibility when defining colors. For example, each color can be defined in addition to a flag indicating if text should be inverted on this color.

.grid.sg-swatches
  - for i in (1..50)
    .grid__item.one-quarter.palm--one-half.lap--one-third
      .sg-swatch

%p.sg-p If needed, colors can also be set via markup by applying the *name*-color class (ex: .primary-color) or the *name*-background class (ex: .secondary-light-background).
