%p.sg-p Combo units are used to group a pair of side-by-side elements. With <span class="sg-code">.combo.left</span> the left element occupies exactly as much space as it requires and the right elements occupies the remaining horizontal space. <span class="sg-code">.combo.right</span> is the inverse of <span class="sg-code">.combo-left</span>. The combo object is inspired by and based on the <a class="sg-a" target="_blank" href="http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/">OOCSS Media Object</a>. By default, combos have 10px of spacing between the two sides.

.combo.left.normal-bottom
  .combo-left 
    .sg-callout Left 
  .combo-right 
    .sg-callout Right

.combo.right
  .combo-left 
    .sg-callout Left
  .combo-right 
    .sg-callout Right

%table.sg-table
  %thead
    %tr
      %th Modifiers
      %th Descriptions
  %tbody

    %tr
      %td 
        %span.sg-code .visible
      %td If <span class="sg-code">.combo.left</span>'s overflow: hidden is clipping your content you can apply this modifier. This is a bit of a hack so your mileage may vary.

    - {'narrow' => 5, 'wide' => 20, 'full' => 0}.each do |key, value|
      %tr
        %td 
          %span.sg-code .#{key}
        %td #{value}px of spacing between items
