.container
  container

%p.sg-p The container element is used to wrap any content that should never extended beyond the max-width of the site. For example the site header object should span the full-width of the browser but the elements within the header should never be wider than the max-width of the site, thus they are wrapped in the container object.
