%p.sg-p RSportz currently uses Formatted Form to generate its form based on Bootstrap markup. 

%form
  .grid
    .grid__item.one-half.palm--one-whole
      %input{type:'text', placeholder:'Email'}
    .grid__item.one-half.palm--one-whole
      %input{type:'password', placeholder:'Password'}
  .grid
    .grid__item.one-third.palm--one-whole
      %input.large.solid.button.primary{type:'submit'}
