%p.sg-p This project uses the <a href="http://www.highcharts.com/" target="_blank" class="sg-a">Highcharts</a> javascript library to generate graphs. Graph data can be passed in as a JSON object via the <span class="sg-code">data-highcharts-series-data</span> attribute.

.card.secondary-dark-background
  .card-body
    .relative
      .graph.donut{data: {highcharts: {series: {data: [["Wins",2],["Losses",3],["Ties",4]].to_json}}}}
      .graph-value 9
      .graph-label Played

%table.sg-table
  %thead
    %tr
      %th Children 
      %th Descriptions
  %tbody
    %tr
      %td
        %span.sg-code .graph-value
      %td Value to appear in the center of a donut graph 
    %tr
      %td
        %span.sg-code .graph-label
      %td Label to appear in the center of a donut graph 

%table.sg-table
  %thead
    %tr
      %th Modifiers
      %th Descriptions
  %tbody
    %tr
      %td
        %span.sg-code .donut
      %td Create a donut style graphy 
