%p.sg-p This project uses the <a class="sg-a" href="https://github.com/csswizardry/csswizardry-grids">CSS Wizardry Grid</a>. Each row of the grid should be wrapped in a <span class="sg-code">.grid</span> element. Each <span class="sg-code">.grid</span> will contain a number of <span class="sg-code">.grid__item</span> elements that divide-up the available space. <span class="sg-code">.grid_item</span> elements should be used in conjunction with the spacing classes. The spacing classes are verbose and written in plain English (ex. <span class="sg-code">.one-half</span>, <span class="sg-code">.two-thirds</span>, <span class="sg-code">.three-quarters</span>, <span class="sgo-code">.one-whole</span>, etc.). Different spacing elements can be applied at different breakpoints (ex. <span class="sg-code">.palm--one-half</span>, <span class="sg-code">.lap--two-thirds</span>, <span class="sg-code">.desk--three-quarters</span>).

%p.sg-p The grid narrow modifier <span class="sg-code">.grid--narrow</span> sets the grid gutter to 7px instead of the default 12px.

%h3.sg-h3 Breakpoints
%p.sg-p The naming convention for the breakpoints are inspired by <a class="sg-a" href="https://twitter.com/lukew/status/273453112902172672">this tweet</a> by Luke Wroblewski. They include <span class="sg-code">.palm</span> (480px and down), <span class="sg-code">.lap</span> (481px to 1023px), <span class="sg-code">.portable</span> (1023px and down), and <span class="sg-code">.desk</span> (1024px and up).

.grid
  .grid__item.one-half 
    .sg-callout .one-half 
  .grid__item.one-half 
    .sg-callout .one-half

.grid
  .grid__item.one-third 
    .sg-callout .one-third
  .grid__item.one-third 
    .sg-callout .one-third
  .grid__item.one-third 
    .sg-callout .one-third 

%p.sg-p
  %small.sg-small note - unfortunately this grid system does not follow the naming convention employed throughout the rest of this project.
