%p.sg-p There are six heading styles used throughout the site. The global modifiers can be used to apply additional formatting.

.sg-heading
  %h1.h0 Heading Zero
  %p.sg-p 65px PT Sans

.sg-heading
  %h1 Heading One
  %p.sg-p 42px PT Sans

.sg-heading
  %h2 Heading Two
  %p.sg-p 33px PT Sans

.sg-heading
  %h3 Heading Three
  %p.sg-p 26px PT Sans

.sg-heading
  %h4 Heading Four
  %p.sg-p 20px PT Sans

.sg-heading
  %h5 Heading Five
  %p.sg-p 18px PT Sans

.sg-heading
  %h6 Heading Six
  %p.sg-p 16px PT Sans
