.grid
  .grid__item.one-whole 
    .hide 
      .sg-callout .hide

  .grid__item.one-half  
    .palm--hide 
      .sg-callout .palm--hide

  .grid__item.one-half 
    .lap--hide 
      .sg-callout .lap--hide

  .grid__item.one-half 
    .portable--hide 
      .sg-callout .portable-hide
      
  .grid__item.one-half 
    .desk--hide 
      .sg-callout .desk-hide

%p.sg-p Helper classes to hide content. By prepending the hide object with a breakpoint you can show and hide content based on the breakpoints. Available classes include <span class="sg-code">.hide</span>, <span class="sg-code">.palm--hide</span>, <span class="sg-code">.lap--hide</span>, <span class="sg-code">.portable--hide</span>, and <span class="sg-code">.desk--hide</span>.
