.grid
  .grid__item.one-whole
    .card.inset.primary-light-background.hide.normal-bottom Hide

  .grid__item.one-half
    .card.inset.secondary-light-background.palm--hide.normal-bottom Palm Hide

  .grid__item.one-half
    .card.inset.primary-dark-background.lap--hide.normal-bottom Lap Hide

  .grid__item.one-half
    .card.inset.success-background.portable--hide.normal-bottom Portable Hide
      
  .grid__item.one-half
    .card.inset.info-background.desk--hide.normal-bottom Desk Hide

%p.sg-p Helper classes to hide content. By prepending the hide object with a breakpoint you can show and hide content based on the breakpoints. Available classes include <span class="sg-code">.hide</span>, <span class="sg-code">.palm--hide</span>, <span class="sg-code">.lap--hide</span>, <span class="sg-code">.portable--hide</span>, and <span class="sg-code">.desk--hide</span>.
