.grid
  .grid__item.one-whole
    .card.primary-light-background.hide.normal-bottom 
      .card-body Hide

  .grid__item.one-half
    .card.secondary-light-background.palm--hide.normal-bottom 
      .card-body Palm Hide

  .grid__item.one-half
    .card.primary-dark-background.lap--hide.normal-bottom 
      .card-body Lap Hide

  .grid__item.one-half
    .card.success-background.portable--hide.normal-bottom 
      .card-body Portable Hide
      
  .grid__item.one-half
    .card.info-background.desk--hide.normal-bottom 
      .card-body Desk Hide

%p.sg-p Helper classes to hide content. By prepending the hide object with a breakpoint you can show and hide content based on the breakpoints. Available classes include <span class="sg-code">.hide</span>, <span class="sg-code">.palm--hide</span>, <span class="sg-code">.lap--hide</span>, <span class="sg-code">.portable--hide</span>, and <span class="sg-code">.desk--hide</span>.
