%p.sg-p These are a collection of non-object specific global modifers that affect object positioning, formatting and/or alignment.

%table.sg-table
  %thead
    %tr
      %th Modifiers
      %th Descriptions
  %tbody
    %tr
      %td 
        .centered .centered
      %td Center aligns text. 
    %tr
      %td 
        .left .left
      %td Floats content left. 
    %tr
      %td 
        .right .right
      %td Floats content right. 
    %tr
      %td 
        .contained .contained
      %td Ensures element contains its floated children by applying the <a class="sg-a" target="_blank" href="http://css-tricks.com/snippets/css/clear-fix/">clearfix</a>. 
    %tr
      %td 
        .relative .relative
      %td Applies relative positioning. 
    %tr
      %td
        %h4.uppercase .uppercase
      %td Apply uppercase text formatting.
    %tr
      %td
        %h4.lowercase .lowercase
      %td Apply lowercase text formatting.
    %tr
      %td
        %h4.raised .raised
      %td Apply raised formatting with a subtle drop-shadow.
    %tr
      %td
        .card.inset.secondary-background
          %h4.inverted .inverted
      %td Apply the inverted style for use on dark backgrounds.
