.large-bottom.contained
  %h3.sg-h3 Primary 

  %p.sg-p Unlike other navs, due to the primary nav's complexity it was designed as a signleton. This means it is not intended to be reused in other sections of the site. 

%h3.sg-h3 Secondary 

%nav.secondary
  %ul
    %li
      %a{href:'#'} Welcome
    %li
      %a{href:'#'} Competitions
    %li
      %a{href:'#'} 2013/14 Registration Fees
    %li
      %a{href:'#'} 2013/14 Schedule
    %li
      %a{href:'#'} Board of Directors

.large-bottom
%h3.sg-h3 Simple 

%nav.simple
  %ul
    %li
      %a{href:'#'} Home
    %li
      %a{href:'#'} About
    %li
      %a{href:'#'} Legal
    %li
      %a{href:'#'} Privacy
