%p.sg-p This project employs the <a class="sg-a" target="_blank" href="http://dimsemenov.com/plugins/royal-slider/">Royal Slider</a> plugin to handle sliding galleries. For more info, view the <a href="http://dimsemenov.com/plugins/royal-slider/documentation/" class="sg-a" target="_blank">Royal Slider documentation</a>.

.royalSlider.rsDefaultInv
  - (1..5).each do |i|
    %a.rsImg{href:'http://placehold.it/350x250'} This is an example caption.
