.tabs.portable--tabs-stacked
  %ul.tabs-nav
    %li One
    %li Two

  %ul.tabs-content
    %li
      .card.inset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu lectus, dapibus ut venenatis eget, varius vitae sapien. Nunc mattis blandit pretium. Nam faucibus condimentum diam, vel tempor dolor. In consequat, nisi vitae varius tincidunt, urna neque scelerisque turpis, a porta odio orci ac enim. Sed condimentum aliquet odio. Fusce eu tincidunt nulla, ut bibendum elit. Pellentesque quis orci nisl. Donec non ante ipsum. Duis sagittis lectus vitae mauris malesuada, sit amet ullamcorper ligula semper. Morbi sollicitudin aliquet augue nec scelerisque. Nullam vel vestibulum quam.
    %li
      .card.inset Mauris vel sapien et erat facilisis cursus. Suspendisse quis lectus auctor, laoreet nunc nec, ultrices risus. Cras eleifend quam varius feugiat consectetur. Morbi ac molestie odio. Aliquam massa sem, tempor sit amet augue ac, consequat consequat felis. Donec in nisi lacinia, faucibus dui sit amet, gravida quam. Aliquam aliquam ipsum non orci pretium sagittis. Nam vel facilisis justo. Duis viverra scelerisque justo, vel convallis tortor rhoncus et.
