%p.sg-p This project implements a generic toggling system to show and hide content. The trigger should have the attribute <span class="sg-code">data-toggle="#foo-target"</span>. The target does not need any special attributes or classes.

%div{data:{toggle:'#target'}}
  .sg-code %div{data:{toggle:'#target'}}
#target Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis, orci eu bibendum iaculis, libero nisl iaculis enim, ac molestie quam lectus vitae est. Curabitur sapien justo, gravida in faucibus eu, laoreet congue urna. Praesent at ante vel nibh tristique rhoncus. Vestibulum venenatis id nisl a faucibus. Donec venenatis in lorem sit amet mattis. Curabitur id malesuada est, ac luctus purus. Donec varius eros ut risus lacinia, id 
