.tabs-nav
  list-style-type: none
  margin: 0
  margin-bottom: -1px
  padding: 0
  > li
    display: inline-block
    padding: 15px 20px
    border-radius: 5px 5px 0 0 
    border: 1px solid color(secondary-lighter)
    @include user-select(none)
    @include transition(all 0.2s linear)
    &.active
      border-bottom-color: white
      background: white
    &:not(.active)
      background: darken(color(tertiary-lighter), 5)
      cursor: pointer
      color: color(secondary-light)
      &:hover
        background: lighten(color(secondary-lighter), 3)

.tabs-content
  list-style-type: none
  margin: 0
  padding: 0
  > li 
    background: white
    border: 1px solid color(secondary-lighter)
    border-radius: 5px
    border-top-left-radius: 0
    overflow: hidden
    padding: 20px
  > li:not(.active)
    display: none

.tabs
  &.large
    .tabs-nav > li, .tabs-content > li
      padding: 20px 25px
      @include breakpoint('palm')
        padding: 15px

.tab-responsive-heading
  display: none

@include prefixed('stacked')
  .tabs-nav
    display: none
  .tabs-content
    li
      display: block
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  .tab-responsive-heading
    display: none
    font-size: em(26px)
    margin-bottom: 10px
    display: block
