// helper function for combining multiple color definitions into a single list
@function new($value)
  @return join($colors, $value)

// color table
$colors: ()
$colors: new(primary #A2B042 white)
$colors: new(secondary #3CB5AD white)
$colors: new(tertiary #404041 white)

// helper function to access colors 
@function color($color)
  $i: index($colors, $color)
  @return nth($colors, $i + 1)

// helper function to access text-colors 
@function text($color)
  $i: index($colors, $color)
  @return nth($colors, $i + 2)

// loop through colors to create #{color}-color and #{color}-background definitions
@for $i from 1 through length($colors)
  @if ($i - 1) % 3 == 0
    $color: nth($colors, $i)
    .#{$color}-color
      color: color($color) !important
      *
        color: color($color) !important
    .#{$color}-background
      background-color: color($color) !important
      color: text($color)

.white-background
  background-color: white !important
