/* ========================================================= */
/* HTML5 Elements */
/* ========================================================= */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block

/* ========================================================= */
/* Spacing */
/* ========================================================= */

$normal-bottom: 20px
$large-bottom: 50px

// default margining
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr
  margin-top: 0
  margin-bottom: $normal-bottom 
  &:last-child
    margin-bottom: 0

/* ========================================================= */
/* Negative Bottom */
/* Main for use on marketing site */
/* ========================================================= */

section
  @include prefixed('negative-bottom')
    margin-bottom: $normal-bottom * -1 !important
  &.large
    @include prefixed('negative-bottom')
      margin-bottom: $large-bottom * -1 !important

@each $bp in $bps
  @include breakpoint($bp)
    section
      &.#{$bp}--normal
        .negative-bottom
          margin-bottom: $normal-bottom * -1 !important
      &.#{$bp}--large
        .negative-bottom
          margin-bottom: $large-bottom * -1 !important


/* ========================================================= */
/* Flush Bottom */
/* ========================================================= */

@include prefixed('flush-bottom')
  margin-bottom: 0 !important

/* ========================================================= */
/* Small Bottom */
/* ========================================================= */

@include prefixed('small-bottom')
  margin-bottom: $normal-bottom / 2 !important

/* ========================================================= */
/* Normal Bottom */
/* ========================================================= */

@include prefixed('normal-bottom')
  margin-bottom: $normal-bottom !important

/* ========================================================= */
/* Large Bottom */
/* ========================================================= */

@include prefixed('large-bottom')
  margin-bottom: $large-bottom !important
