/* ========================================================= */
/* Define Base Typeface */
/* ========================================================= */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700)
body, html
  font-family: 'PT Sans', sans-serif
  font-size: 100%
  -webkit-text-size-adjust: 100%
  // base font-size is defined in grid/_variables.sass as a grid hack

/* ========================================================= */
/* Headings */
/* ========================================================= */

h1, h2, h3, h4, h5, h6
  font-weight: normal

h1
  font-size: em(42px)
  line-height: em(18px)
  @include breakpoint(palm)
    font-size: em(24px)

h2
  font-size: em(33px)
  @include breakpoint(palm)
    font-size: em(20px)

h3
  font-size: em(26px)
  @include breakpoint(palm)
    font-size: em(20px)

h4
  font-size: em(20px)

h5
  font-size: em(18px)

h6
  font-size: em(16px)

.h0
  font-size: em(65px)
  line-height: em(13px) 
  @include breakpoint(palm)
    font-size: em(24px)
    line-height: normal

/* ========================================================= */
/* Anchors */
/* ========================================================= */

a
  color: color(secondary-light)
  @include transition (color 0.1s linear)
  &:hover:not(.disabled)
    color: color(primary)

/* ========================================================= */
/* Paragraphs */
/* ========================================================= */

p
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

/* ========================================================= */
/* Blockquotes */
/* ========================================================= */

blockquote
  margin: 0
  padding: 0 20px
  p
    font-size: em(24px)
    font-style: italic
    position: relative
    margin-bottom: 40px
    &:before, &:after
      opacity: 0.15
      position: absolute
      @include transform(scale(7))
    &:before
      content: open-quote 
      top: 60px 
      left: -60px 
    &:after
      content: close-quote 
      bottom: -60px 
      right: 0 
  cite
    font-style: normal
    &:before
      content: '-'

/* ========================================================= */
/* HR */
/* ========================================================= */

hr
  border: 0
  border-bottom: 1px solid color(tertiary-lighter)
