@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700')

// typography
typeface = 'Open Sans', sans-serif

// sizes
nav-width = 250px
body-inset = 150px
condensed-body-inset = 60px

// colours
grey = #eee
offblack = #616161
link = #0077CC
link-hover = #0A5999

body
  margin: 0 !important
  padding: 20px body-inset 20px nav-width + body-inset !important
  max-width: 1420px !important
  background: white !important
  @media (max-width: 1140px)
    padding: 20px condensed-body-inset 20px nav-width + condensed-body-inset !important
  @media (max-width: 970px)
    padding: 20px condensed-body-inset 20px condensed-body-inset !important
  @media (max-width: 540px)
    padding: 20px !important

sg-a, .sg-a
  text-decoration: none
  font-family: typeface
  color: link
  transition: color 0.15s ease-in-out
  &:hover
    color: link-hover

sg-nav
  font-family: typeface
  position: fixed
  top: 0
  left: 0
  bottom: 0
  padding-left: 30px
  padding-top: 30px
  width: nav-width - 30px
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  margin: 0
  list-style-type: none
  a
    text-decoration: none
    color: black
    padding: 12px 0
    font-size: 14px
    display: block
    transition: all 0.1s ease-in-out
    &:hover
      color: link-hover
      padding-left: 2px
    &:first-child
      font-weight: bold
      font-size: 16px
      border-bottom: 1px solid grey
  @media (max-width: 970px)
    display: none

sg-h1, sg-h2, sg-h3, sg-h4, sg-h5, sg-h6,
.sg-h1, .sg-h2, .sg-h3, .sg-h4, .sg-h5, .sg-h6
  font-weight: bold
  font-family: typeface
  color: black !important
  position: relative
  cursor: default
  display: block
  margin: 16px 0
  text-decoration: none
  &:focus
    outline: none
  &[href]
    cursor: pointer
    &:before
      position: absolute
      right: 100%
      top: 0
      padding-right: 0
      opacity: 0
      content: '# '
      transition: all 0.1s ease-in-out
  &:hover:before
    padding-right: 3px
    opacity: 0.3

sg-h1, .sg-h1
  font-size: 36px
  border-bottom: 1px solid grey
  padding-bottom: 10px

sg-h2, .sg-h2
  font-size: 28px
  border-bottom: 1px solid grey
  padding-bottom: 10px

sg-h3, .sg-h3
  font-size: 24px

sg-h4, .sg-h4
  font-size: 20px

sg-h5, .sg-h5
  font-size: 16px

sg-h6, .sg-h6
  font-size: 16px
  color: #444 !important

sg-p
  font-family: typeface
  line-height: 1.7
  color: offblack
  display: block
  font-size: 16px
  margin: 1.2em 0

sg-section
  display: block
  margin-bottom: 120px
  @media (max-width: 400px)
    margin-bottom: 60px

.sg-code, c
  background: grey
  border-radius: 3px
  font-family: monospace
  font-size: 14px
  white-space: pre
  padding: 0 6px
  display: inline-block
  margin: 0 3px
  overflow: auto
  -webkit-overflow-scrolling: touch
  xmp&, pre&, code&
    font-size: 16px
    padding: 0 10px
    display: block
    margin: 20px 0

sg-table
  display: table
  width: 100%
  margin: 20px 0

sg-tr
  display: table-row
  &:first-child .-td
    padding-top: 0
  &:last-child .-td
    border-bottom: 0

sg-td
  @extend sg-p
  display: table-cell
  border-bottom: 1px solid rgba(grey, 0.5)
  padding: 15px
  padding-left: 0
  &:first-child
    min-width: 160px

sg-th
  @extend sg-td
  font-weight: bold

@media (max-width: 600px)
  sg-table, sg-tr, sg-td
    display: block
    padding: 3px
    padding-left: 0
  sg-td
    border-bottom: 0
  sg-tr
    border-bottom: 1px solid rgba(grey, 0.5)
  sg-th
    display: none

sg-swatch
  font-family: typeface
  display: inline-block
  width: 135px
  border-radius: 2px
  padding: 160px 10px 10px 10px
  font-size: 14px
  box-shadow: 0 0 3px rgba(black, 0.2)
  overflow: hidden
  font-weight: bold
  margin: 0 15px 15px 0
  transition: all 0.1s ease-in-out
  position: relative
  &:hover
    box-shadow: 0 6px 6px rgba(black, 0.1)
  &:after
    height: 60px
    margin: -45px -10px -10px -10px
    content: ''
    display: block
    background: white
    border-top: 1px solid grey
