- # Although blank, this file is needed for Middleman to run. To edit or add content to the styleguide, please work with the files within the partials folder. To add a new component to the styleguide, simply add a new file (ex. _foo.haml) to the partials folder.
